/* Works */
/* Team Section */
/* Clients */
/* Portfolio Page */
/* portfolio-filter */
.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  display: block;
  padding: 6px 25px;
  border: none;
  border-radius: 4px;

  background-color: var(--primary-btn-bg-color);
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filter-btn:focus,
.filter-btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:active {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  flex-basis: calc((100% - 60px) / 3);
}

.project-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-link:hover .project-details,
.project-link:focus .project-details {
  opacity: 1;
  transform: translateY(0);
}

.project-thumb img {
  display: block;
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;

  color: var(--secondary-title-color);
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: var(--primary-letter-spacing);
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-wrap {
  padding: 20px 24px;
  border-bottom: 1px solid var(--primary-border-color);
  border-right: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;

  color: var(--primary-title-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-desc {
  color: var(--main-text-color);

  line-height: 1.87;
}

/* Footer */

