.features {
    padding-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.icon-feature {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    align-items: center;
    justify-content: center;

    background-color: #f5f4fa;
}

.feature-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-desc {
    color: var(--main-text-color);

    font-size: 14px;
    line-height: 1.71;
}