.footer {
        padding-top: 60px;
        padding-bottom: 60px;

        background-color: var(--secondary-bg-color);
}

.footer-wrap {
        display: flex;
        align-items: baseline;
}

.footer-contacts {
        margin-right: 70px;
}

.footer-logo {
        margin-bottom: 20px;
        margin-right: 0;

        color: var(--secondary-title-color);
}

.contacts {
        font-style: normal;
}

.contacts-item {
        font-size: 14px;
        line-height: 1.71;
}

.contacts-item:not(:last-child) {
        margin-bottom: 9px;
}

.address {
        display: block;
        color: var(--secondary-title-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
        color: var(--accent-color);
}

.contacts-link {
        display: block;

        color: var(--footer-contact-link);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
        color: var(--accent-color);
}

/* Follow div */
.follow {
        margin-right: 93px;
}

.join {
        margin-bottom: 20px;

        color: var(--secondary-title-color);

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}

.company-socials-list {
        display: flex;
        gap: 10px;
}

.company-socials-item:not(:last-child)::before {
        margin-right: 10px;
}

.company-socials-link {
        width: 44px;
        height: 44px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        background-color: rgba(255, 255, 255, 0.1);
        color: var(--secondary-btn-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-socials-link:hover,
.company-socials-link:focus {
        background-color: var(--accent-color);
}

.icon-company-socials {
        fill: currentColor;
}

/* Mailing div */
.mailing-form {
        display: flex;
        justify-content: space-between;
}


.mailing-title {
        margin-bottom: 20px;
        color: var(--secondary-title-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: var(--primary-letter-spacing);
        text-transform: uppercase;
}


.mailing-input {
        width: 358px;
        height: 50px;
        padding: 15px 16px;
        margin-right: 12px;
        background-color: transparent;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.6);
        transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-input::placeholder {
        color: rgba(255, 255, 255, 0.6);
}

.mailing-input:hover,
.mailing-input:focus {
        border: 1px solid var(--accent-color);
}

.mailing-btn {
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 10px;

        background-color: var(--secondary-btn-bg-color);
        color: var(--secondary-title-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-family: inherit;
        font-weight: 700;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
}

.icon-send {
        margin-left: 10px;
        fill: var(--secondary-title-color);
}