.header {
  border-bottom: 1px solid #ececec;

  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-menu {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  display: block;
  margin-right: 90px;

  color: var(--primary-title-color);

  font-family: var(--secondary-font-family), sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.menu {
  display: flex;

  &-item:not(:last-child) {
    margin-right: 50px;
  }

  &-link {
    position: relative;
    display: block;
    padding: 30px 0;

    color: var(--primary-title-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 14px;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.accent-logo,
.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: '';
  background-color: #2196f3;
  border-radius: 2px;
}

.communication {
  &-list {
    display: flex;
    margin-left: auto;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &-link {
    display: flex;
    padding: 32px 20px;
    justify-content: center;
    align-items: center;

    color: var(--header-contact-link);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 14px;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.icon-communication {
  margin-right: 10px;
  fill: currentColor;
}
